/* 

ID :
Logo et Titres : Shrikhand 
Text : roboto

*/
/* CSS global sur les éléments */

#header {
  background-color: blue;
}
.header {
  background-color: green;
}


*
{
  font-family:'Roboto', 'sans-serif';
  box-sizing: border-box;
}

body
{
  background-color: var(--background-color);
  margin: 0;
}

:root {
--primary-color: #9356DC;
--secondary-color: #FF79DA;
--tertiary-color: #99E2D0;
--background-color: #F6F6F6;
--background-color-white:#FFF;
--Shadow-color: #B5B5B5;
}

/* btn : bouton classique et 'Commander' */
.btn {
}

/* btn-fonction : bouton type pour fonction */
.btn__fonction {

}

/* btn 'nouveau' vignette restaurant */
.btn__nouveau {

}
/* Card restaurant */
.restaurant__child {

}

/* Header */

.fa-arrow-left {
  display:none;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  box-shadow: 0.5rem 0 1rem Black;
}

.homepage {
  width: 100%;
}

/* Menu de Navigation */
