@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.function__btn::before, .search, .header__logo, .commander, .menuitem__wrap, .menuitem__done, .header__arrow, .loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserved__btn button:hover {
  transform: scale(1.05);
  transition: all 80ms ease-in;
  filter: brightness(1.05);
  box-shadow: #D5D5D5 0.5rem 0.5rem 0.5rem 0.1rem;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9);
}
.loader__circle--1 {
  width: 7rem;
  height: 7rem;
  border-radius: 5rem;
  border: 0.4rem solid transparent;
  border-top-color: #9356DC;
  animation: spin 1s linear infinite;
  position: absolute;
  margin: auto;
}
.loader__circle--2 {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  border: 0.4rem solid transparent;
  border-top-color: #FF79DA;
  animation: spin 1.25s linear infinite;
  position: absolute;
  margin: auto;
}
.loader__circle--3 {
  width: 3rem;
  height: 3rem;
  border-radius: 5rem;
  border: 0.4rem solid transparent;
  border-top-color: #99E2D0;
  animation: spin 1.5s linear infinite;
  position: absolute;
  margin: auto;
}

.disappear {
  animation: end 1s forwards;
  animation-delay: 2s;
}

* {
  font-family: "Roboto", "sans-serif";
  box-sizing: border-box;
  font-weight: 400;
}

body {
  background-color: #F6F6F6;
}

body, p, h2, h3, figure {
  margin: 0;
}

p {
  font-family: "Roboto", "sans-serif";
  font-size: 1rem;
  font-weight: 300;
}

h1 {
  font-family: "Roboto", "sans-serif";
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
}

h2 {
  font-family: "Roboto", "sans-serif";
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
}

h3 {
  font-family: "Roboto", "sans-serif";
  font-size: 1rem;
  font-weight: 400;
}

section, footer {
  padding: 1rem;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

@keyframes itemappear {
  0% {
    transform: translateY(3rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes end {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.header--withbackarrow {
  position: relative;
}
.header__arrow {
  position: absolute;
  left: 2rem;
  top: 1.4rem;
  color: black;
  font-size: 1.2rem;
}

.BG__img {
  max-width: 100%;
  max-height: 20rem;
  width: 100%;
  object-fit: cover;
}

.menu {
  position: relative;
  z-index: 1;
  margin-top: -5rem;
  background-color: #F6F6F6;
  border-radius: 2rem 2rem 0 0;
}
.menu__header {
  padding: 1rem 2rem 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__title {
  font-family: "Shrikhand", "sans-serif";
  font-size: 1.5rem;
}

@media (min-width: 992px) {
  .sousmenus {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.sousmenu {
  width: 100%;
}
@media (min-width: 992px) {
  .sousmenu {
    width: 33%;
  }
}
.sousmenu__title {
  position: relative;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 0.3rem;
  margin: 1rem 0;
}
.sousmenu__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4rem;
  height: 0.2rem;
  background-color: #99E2D0;
}

.menuitem {
  display: flex;
  width: 100%;
  border-radius: 1rem;
  background-color: #FFF;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: 0rem 0.2rem 0.5rem 0.1rem #D5D5D5;
  animation: itemappear 0.8s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  max-width: 100%;
}
.menuitem__header {
  flex-basis: 0%;
  min-width: 0;
  flex-grow: 1;
  padding: 1rem;
}
.menuitem__price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem;
  font-weight: bold;
}
.menuitem__done {
  width: 4rem;
  transition: 0.5s;
  margin-right: -4rem;
  background-color: #99E2D0;
}
.menuitem:hover .menuitem__done {
  margin-right: 0rem;
}
.menuitem__wrap {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #FFF;
  border-radius: 5rem;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.menuitem:hover .menuitem__wrap {
  transform: rotate(0);
}
.menuitem__icon {
  color: #99E2D0;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-7 {
  animation-delay: 0.7s;
}

.delay-8 {
  animation-delay: 0.8s;
}

.delay-9 {
  animation-delay: 0.9s;
}

.menuitem__header > h2 {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
}

.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  background-color: #FFF;
  margin: 0;
  position: relative;
}
.header__logo {
  margin: 0;
  padding: 1rem;
  box-shadow: 0rem 0rem 0.5rem #919191;
}
.header__logo img {
  width: 180px;
}

.search {
  background-color: #DDD;
  padding: 1rem;
}
.search i {
  padding-right: 0.5rem;
  font-size: 1rem;
}

/* Réservation */
.reserved > h2 {
  margin: 1rem 3rem;
}

.reserved {
  text-align: center;
}
.reserved__btn button {
  font-family: "Roboto", "sans-serif";
  font-size: 1rem;
  font-weight: 300;
  color: #FFF;
  border-radius: 5rem;
  border: none;
  padding: 1rem 2rem;
  margin: 2rem 0;
  box-shadow: 0rem 0.2rem 0.5rem 0.1rem #D5D5D5;
  background: #9356DC;
  background: linear-gradient(-10deg, #9356DC 25%, #FF79DA 100%);
}
.function {
  background-color: #FFF;
}
.function__buttons {
  counter-reset: steps;
  display: flex;
  gap: 2rem;
}
@media (max-width: 992px) {
  .function__buttons {
    flex-direction: column;
    padding: 1rem;
  }
}

.function__btn {
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 1.5rem;
  flex-grow: 1;
  padding: 1.5rem 0;
  width: 100%;
  box-shadow: 0rem 0.2rem 0.5rem 0.1rem #D5D5D5;
}
.function__btn:hover {
  transition: all 80ms ease-in;
  background-color: #d7c0f2;
}
.function__btn:hover > i {
  transition: all 80ms ease-in;
  color: #6c27be;
}
.function__btn::before {
  counter-increment: steps;
  content: counter(steps);
  position: relative;
  left: -0.8rem;
  color: #FFF;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #9356DC;
  border-radius: 50%;
}
.function__btn i {
  color: grey;
  padding: 0 1rem;
  font-size: 1.3rem;
}

.restaurant {
  background-color: #F6F6F6;
  padding: 1rem;
  margin: 1.5rem 0 4rem 0;
}
.restaurant__allcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.restaurant__card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: #FFF;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0rem 0.2rem 0.5rem 0.1rem #D5D5D5;
}
@media (min-width: 992px) {
  .restaurant__card {
    display: flex;
    flex-wrap: wrap;
    width: 48%;
  }
}
.restaurant__card img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}
.restaurant__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.restaurant__text {
  display: flex;
  flex-direction: column;
}
.restaurant__text > h2 {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
}

.new {
  position: relative;
}
.new::before {
  content: "Nouveau";
  position: absolute;
  padding: 0.5rem;
  font-family: "Roboto", "sans-serif";
  font-size: 0.8rem;
  color: #1b6150;
  background-color: #99E2D0;
  top: 1rem;
  right: 1rem;
  border-radius: 0.25rem;
}

.heart {
  position: relative;
}
.heart i {
  font-size: 1.5rem;
}
.heart .fas {
  position: absolute;
  opacity: 0;
  background: #9356DC;
  background: linear-gradient(180deg, #9356DC 25%, #FF79DA 100%);
  cursor: pointer;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.heart:hover .fas {
  transition: all 150ms ease-in;
  display: inline;
  opacity: 1;
}
.heart:hover .far {
  transition: all 150ms ease-in;
  opacity: 0;
}

footer {
  background-color: #353535;
  color: #FFF;
}
footer ul {
  margin-top: 1rem;
  padding: 0;
  list-style-type: none;
}
footer li {
  padding: 0.2rem;
}
footer i {
  padding-right: 0.2rem;
}

.footer__title {
  font-family: "Shrikhand", "Roboto", "sans-serif";
  font-size: 1.2rem;
}

/*# sourceMappingURL=style.css.map */
