.loader {
  position:fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  @extend %flex-center;

  background-color: rgba(255, 255, 255, 0.9);

  &container {
    width: 5rem;
  }

  &__circle--1 {
    width: 7rem;
    height: 7rem;

    border-radius: 5rem;
    border: 0.4rem solid transparent;
    border-top-color: $primary-color;

    animation: spin 1s linear infinite;

    position: absolute; 
    margin:auto;
  }

  &__circle--2 {
    width: 5rem;
    height: 5rem;

    border-radius: 5rem;
    border: 0.4rem solid transparent;
    border-top-color: $secondary-color;
    animation: spin 1.25s linear infinite;

    position: absolute;
    margin: auto;
  }
  
  &__circle--3 {
    width: 3rem;
    height: 3rem;

    border-radius: 5rem;
    border: 0.4rem solid transparent;
    border-top-color: $tertiary-color;
    animation: spin 1.5s linear infinite;
    
    position: absolute;
    margin: auto;
  }
  
}

.disappear {
  animation: end 1s forwards;
  animation-delay: 2s;
}

