@keyframes itemappear {
  0% {
    transform: translateY(3rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes spin {
  0% { 
    transform: rotate(0deg);
  }
  100% { transform: rotate(360deg);
  }
}

@keyframes end {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}