// Button type //
@mixin btn{
  font-family:'Roboto', 'sans-serif';
  font-size: $base-size-type;
  font-weight:300;
  color: $color-white;
  border-radius: 5rem;
  border: none;
  padding: 1rem 2rem;
  margin: 2rem 0;
    
  background:$gradiant-color;
  background:$gradiant;

  box-shadow: $btn-shadow $shadow-color;
}
