@mixin base-shadow {
  box-shadow: $btn-shadow $shadow-color;
}

@mixin btn-lighten($color:$primary-color) {
  background-color: lighten($color: $primary-color, $amount: 25)
}

// Gradiant // 
@mixin gradient($degree) {
  background: $primary-color;
  background:linear-gradient(($degree), $primary-color 25%, $secondary-color 100%);
}
