// Centrer un objet 
%flex-center {
  display:flex;
  justify-content:center;
  align-items:center;
}

// hover_btn //
%hover-btn {
  transform: scale(1.05);
  transition: all 80ms ease-in;
  opacity: 0.95;
}
